include pyproject.toml

recursive-exclude .eggs/ *
recursive-exclude .egg-info/ *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-exclude * *.so
recursive-exclude * *.c *.h

recursive-include chunkedbuffer *.py *.pxd *.pyx
recursive-include tests test_*.py
